rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Helper functions
    function isSignedIn() {
      return request.auth != null;
    }
    
    function getUserRole(userId) {
      return get(/databases/$(database)/documents/roles/$(userId)).data.role;
    }

    function isOwner(userId) {
        return getUserRole(userId) == 'owner';
    }

    function isCoOwner(userId) {
        return getUserRole(userId) == 'co-owner';
    }

    function isModerator(userId) {
        return getUserRole(userId) in ['owner', 'co-owner', 'moderator'];
    }
    
    match /users/{userId} {
      // Admins (owner, co-owner, moderator) can list all users.
      // Any signed-in user can read any individual user profile.
      allow list, get: if isModerator(request.auth.uid);
      allow get: if isSignedIn();

      // Users can create their own profile.
      allow create: if request.auth.uid == userId;
      
      // Users can update their own profile.
      // Admins can update any user profile, but cannot change an owner's role.
      allow update: if request.auth.uid == userId || (isModerator(request.auth.uid) && !isOwner(userId));

      // Only owners can delete users, but not themselves.
      allow delete: if isOwner(request.auth.uid) && request.auth.uid != userId;
    }

    match /roles/{userId} {
      // Any signed-in user can read any role.
      allow get: if isSignedIn();
      
      // Admins can create or update roles, but cannot edit an owner's role unless they are an owner.
      allow write: if isModerator(request.auth.uid) && (!isOwner(userId) || isOwner(request.auth.uid));
    }

    match /posts/{postId} {
      // Anyone can read any post.
      allow get: if true;
      allow list: if true;
      
      // Signed-in users can create posts.
      allow create: if isSignedIn();
      
      // The author of the post or an admin can update or delete it.
      allow update, delete: if resource.data.authorId == request.auth.uid || isModerator(request.auth.uid);
    }

    match /posts/{postId}/comments/{commentId} {
      // Anyone can read comments.
      allow get: if true;
      allow list: if true;
      
      // Signed-in users can create comments.
      allow create: if isSignedIn();

      // The author of the comment or an admin can update or delete it.
      allow update, delete: if resource.data.authorId == request.auth.uid || isModerator(request.auth.uid);
    }

     match /{path=**}/comments/{commentId} {
       // Anyone can read comments.
      allow get: if true;
      allow list: if true;
      
      // Signed-in users can create comments.
      allow create: if isSignedIn();

      // The author of the comment or an admin can update or delete it.
      allow update, delete: if resource.data.authorId == request.auth.uid || isModerator(request.auth.uid);
    }
  }
}