@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 135 30% 30%;
    --primary-foreground: 135 30% 95%;
    --secondary: 94 32% 45%;
    --secondary-foreground: 94 32% 95%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 94 32% 45%;
    --accent-foreground: 94 32% 95%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 135 30% 30%;
    --radius: 0.5rem;
    --chart-1: 135 30% 40%;
    --chart-2: 94 32% 55%;
    --chart-3: 210 40% 50%;
    --chart-4: 20 80% 60%;
    --chart-5: 280 50% 60%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 5.9% 10%;
    --card-foreground: 0 0% 98%;
    --popover: 240 5.9% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 135 30% 40%;
    --primary-foreground: 0 0% 98%;
    --secondary: 94 32% 45%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 135 30% 40%;
    --chart-1: 135 30% 40%;
    --chart-2: 94 32% 55%;
    --chart-3: 210 40% 50%;
    --chart-4: 20 80% 60%;
    --chart-5: 280 50% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  .germination-modifier { 
    @apply bg-accent text-accent-foreground rounded-full;
  }
  .vegetative-modifier {
    @apply bg-primary text-primary-foreground rounded-full;
  }
  .flowering-modifier {
    @apply bg-secondary text-secondary-foreground rounded-full;
  }
  .has-tasks-modifier {
    @apply underline;
  }
}
